body{
    background-image: url('background.jpg');
}
.heading
{
    width: 100%;
    text-align: left;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid white;
}

#play_button, #status
{
    font-size: 22px;
}
canvas
{
    box-shadow: 10px solid grey;
    border-radius: 10px;
    margin-top: 30px;
}
.copy_right_footer{
    position : fixed;
    color:white;
    bottom:0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
 }